USE [master]
GO
/****** Object:  Database [BD]    Script Date: 8/9/2026 11:18:45 ******/
CREATE DATABASE [BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD]
GO
/****** Object:  User [alumno]    Script Date: 8/9/2026 11:18:45 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Comodines]    Script Date: 8/9/2026 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comodines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Precio] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Imagen] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Comodines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel1]    Script Date: 8/9/2026 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Desafio] [nvarchar](max) NOT NULL,
	[Respuesta] [nvarchar](max) NOT NULL,
	[Pista] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Nivel1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel2]    Script Date: 8/9/2026 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Desafio] [nvarchar](max) NOT NULL,
	[Respuesta] [nvarchar](max) NOT NULL,
	[Pista] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Nivel2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel3]    Script Date: 8/9/2026 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel3](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Desafio] [nvarchar](max) NOT NULL,
	[Respuesta] [nvarchar](max) NOT NULL,
	[Pista] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Nivel3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel4]    Script Date: 8/9/2026 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel4](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pregunta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Nivel4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/9/2026 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[EstadoPartida] [varchar](50) NOT NULL,
	[ComodinActual] [int] NULL,
	[NivelActual] [int] NOT NULL,
	[Plata] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comodines] ON 

INSERT [dbo].[Comodines] ([Id], [Precio], [Nombre], [Descripcion], [Imagen]) VALUES (1, 2, N'Papelito sospechoso', N'Contiene una pista.', N'papelitoSospechoso.png')
INSERT [dbo].[Comodines] ([Id], [Precio], [Nombre], [Descripcion], [Imagen]) VALUES (2, 3, N'Ojo de Todd', N'En los retos de Odd Todd muestra 2 pistas.', N'ojoTodd.png')
INSERT [dbo].[Comodines] ([Id], [Precio], [Nombre], [Descripcion], [Imagen]) VALUES (3, 3, N'Cerebro de Steven', N'En los retos de Even Steven muestra 2 pistas.', N'cerebroSteven.png')
SET IDENTITY_INSERT [dbo].[Comodines] OFF
GO
SET IDENTITY_INSERT [dbo].[Nivel1] ON 

INSERT [dbo].[Nivel1] ([Id], [Desafio], [Respuesta], [Pista]) VALUES (1, N'<span class="escape-badge pixel-label">Nivel 1 · Patrón oculto</span><span class="d-block mt-3 fs-3 fw-semibold">2 — 4 — 6 — 8 — ?</span>', N'10', N'Messi.')
INSERT [dbo].[Nivel1] ([Id], [Desafio], [Respuesta], [Pista]) VALUES (2, N'<span class="escape-badge pixel-label">Nivel 1 · Patrón oculto</span><span class="d-block mt-3 fs-3 fw-semibold">3 — 6 — 12 — 24 — ?</span>', N'48', N'El resultado de 6 × 8')
SET IDENTITY_INSERT [dbo].[Nivel1] OFF
GO
SET IDENTITY_INSERT [dbo].[Nivel2] ON 

INSERT [dbo].[Nivel2] ([Id], [Desafio], [Respuesta], [Pista]) VALUES (1, N'<span class="escape-badge pixel-label">Nivel 2 · Opción múltiple</span><span class="d-block mt-3 fs-5 fw-semibold">¿Cuál es el auto del Papa?</span><span class="d-block mt-2">1. Papamóvil</span><span class="d-block">2. Batimóvil</span><span class="d-block">3. Auto papal</span>', N'1', N'Tiene nombre propio.')
INSERT [dbo].[Nivel2] ([Id], [Desafio], [Respuesta], [Pista]) VALUES (2, N'<span class="escape-badge pixel-label">Nivel 2 · Opción múltiple</span><span class="d-block mt-3 fs-5 fw-semibold">¿Cuál es el planeta rojo?</span><span class="d-block mt-2">1. Venus</span><span class="d-block">2. Marte</span><span class="d-block">3. Plutón</span>', N'2', N'Tiene nombre de dios romano.')
INSERT [dbo].[Nivel2] ([Id], [Desafio], [Respuesta], [Pista]) VALUES (3, N'<span class="escape-badge pixel-label">Nivel 2 · Opción múltiple</span><span class="d-block mt-3 fs-5 fw-semibold">¿Quién escribió Don Quijote?</span><span class="d-block mt-2">1. Shakespeare</span><span class="d-block">2. Chat GPT</span><span class="d-block">3. Cervantes</span>', N'3', N'Era español.')
SET IDENTITY_INSERT [dbo].[Nivel2] OFF
GO
SET IDENTITY_INSERT [dbo].[Nivel3] ON 

SET IDENTITY_INSERT [dbo].[Nivel3] OFF
GO
SET IDENTITY_INSERT [dbo].[Nivel4] ON 

INSERT [dbo].[Nivel4] ([Id], [Pregunta]) VALUES (1, N'¿Cuál era la cuarta carta contando desde el final?')
INSERT [dbo].[Nivel4] ([Id], [Pregunta]) VALUES (2, N'¿Cuál era la tercera carta?')
INSERT [dbo].[Nivel4] ([Id], [Pregunta]) VALUES (3, N'¿Qué carta estaba en la posición indicada por Steven?')
SET IDENTITY_INSERT [dbo].[Nivel4] OFF
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Comodines] FOREIGN KEY([ComodinActual])
REFERENCES [dbo].[Comodines] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Comodines]
GO
USE [master]
GO
